<footer data-th-fragment="site-footer" 
        class="bg-gray-100 dark:bg-gray-900 text-gray-800 dark:text-gray-200 py-8 transition-colors duration-300">
  <div class="container mx-auto text-center">
    <p>&copy; 2024 Contact Manager. All rights reserved.</p>
    <p>
      Follow us on 
      <a href="#" class="text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300">Facebook</a>, 
      <a href="#" class="text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300">Twitter</a>, 
      <a href="#" class="text-blue-600 dark:text-blue-400 hover:text-blue-500 dark:hover:text-blue-300">Instagram</a>.
    </p>
  </div>
</footer>
